/* Fonts */
@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.container {
  font-family: "Graphik", sans-serif;
  padding-top: 40px;
}
.btn-primary {
  background-color: #0074c7;
  border-color: #0074c7;
}
